
.header {
	margin: 1 0 0 2;
	border: double white;
	text-style: bold;
	text-align: center;
	background: rgba(7,98,153,255);
}
#label {
	text-align: center;
	margin: 2 0 2 1;
	height: 2;
	width: 100%;
	border: round #100c0b;
}
#input {
	margin: 2 0 2 1;
	width: 25;
	background: rgba(7,98,153,255);
	border: hkey #100c0b;
}
#bi {
	grid-size: 2;
	grid-gutter: 1 2;
	column-span: 2;
	height:5;

}
#dialog {
	grid-size: 2;
	grid-gutter: 1 2;
	margin: 1 2;
}
#question {
	column-span: 2;
	content-align: center bottom;
	width: 100%;
	height: 100%;
}

Button {
    width: 100%;
}
#exit{
	width: 24;
	margin: 1 2;
}

#sidebar {
	text-style: bold;
	text-align: center;
	dock: right;
	width: 30;
	height:100%;
	offset-x: 100%;
	transition: offset 500ms in_out_cubic;
	border-left: outer #09312e;
	background: rgba(7,98,153,255);
}

#sidebar.-active {
	offset-x: -0;
}


